<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_with model: @post do |f| %>
    <h5>本文</h5>
    <%= f.text_field :body %>
    <%= f.submit '投稿' ,class: 'btn btn-rounded' %>
    <%= f.submit '投稿' ,class: 'btn btn-rounded1' %>
<% end %>